#range {
    margin-top: auto;
    width: 85%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;

}
.button:hover {
    background-color: yellow !important;
}

.button {
    display: flex;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#today, #range {
    background-color: black;
    color: white;
}
#allTime {
    
    background-color: rgb(182, 39, 39);
}

#inputDiv {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(182, 39, 39);
}

.smallLabel {
    font-size: 13px;
    /* margin: -7px; */
}